// the row that wraps the input fields
@mixin action-fields {

    // the padding on the row will do better 
    input, textarea, select, button {
        margin-bottom: 0;
    }
    textarea {
        font-family: courier;
    }
    select, input {
        height: auto;
        padding: 2px 8px;

        &[type="range"] {
            padding: 2px 0;
        }
    }

    hr {
        margin: 0.5rem 0;
    }

    // input fields
    .row {
        padding: 2px;

        select[multiple] {
            height: auto;
            overflow-y: auto;
        }
        textarea {
            resize: vertical;
        }

        .columns {            
            // if the div is editable
            &[contenteditable=true], &[data-contenteditable=true] {
                font-family: courier;
                resize: vertical;
                overflow-x: hidden;
                overflow-y: auto;
                min-height: 90px;
                background-color: #fff;
                margin-top: 0;
                margin-bottom: 0;
                padding: 6px 12px;
                border: 1px solid rgb(209, 209, 209);
                border-radius: 4px;
                white-space: pre-wrap;

                p {
                    margin-bottom: 1rem;
                }
                span.selected {
                    background-color: rgba(255, 0, 255, 0.4);
                    padding: 4px 0;
                }
                span.selected2 {
                    background-color: rgba(255, 255, 0, 0.4);
                    padding: 4px 0;
                }
            }

            // word/space selection for the Drag Drop
            &.text-selection {
                .word, .space {
                    border: 1px solid rgb(209, 209, 209);
                    border-radius: 2px;
                    margin: 0 1px 1px;
                    padding: 0 2px;
                    user-select: none;
                    cursor: pointer;
                    font-family: courier;
                    display: inline-block;

                    &.selected {
                        background-color: rgba(255, 0, 255, 0.4);
                        border: 1px solid rgba(255, 0, 255, 1);
                    }
                }
            }

        } // end .columns

        // for element types
        .element-type-options {

            // for the table Action
            .row.table {
                button {
                    line-height: 0;
                    margin-bottom: 4px;
                    padding: 0;
                }
            }
        }

        // the table
        table.outline {
            margin-bottom: 0;
            width: 100%;
            th, td {
                padding: 12px;
                border: 1px solid #ccc;
            }
            th:first-child, td:first-child, th:last-child, td:last-child {
                padding-left: none;
                padding-right: none;
            }
            th.selected, td.selected {
                background-color: #f66;
            }
        }
    } // end .row

    // for each draggable entry in the Drag and Drop
    .row.draggables, .row.droppables {
        padding: 0;

        // the options 
        .draggable-options, .droppable-options {
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            background-color: #e0e0e0;
            padding: 0px 8px;
            margin-bottom: 4px;

            // the title, ie (10) draggable -> (12) droppable
            .title {
                cursor: pointer;
                width: 100%;
                display: inline-block;
            }
    
            // so we get fancy transition when expanding/collapsing
            .content {
                padding: 0px;
                margin-left: 1%;

                height: 0px;
                overflow: hidden;
                transition: height 0.2s ease;
            }
        }
    }

    .drag-order {
        display: inline-block;
        background-color: #ddd;
        border-radius: 4px;
        padding: 0 4px;
        margin: 0 1px;
        user-select: none;
        cursor: move;

        &:first-child {
            margin-left: 0;
        }
    }
}