// helpful to assign the current selector to a variable and use it any depth
// https://stackoverflow.com/questions/9293891/sass-css-target-parent-class-from-child

.context-menu {
    $parent: &;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    min-width: 200px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    transition: opacity 0.4s, transform 0.4s;

    &.show {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    hr {
        margin: 0 6px;
    }

    &__item {
        padding: 2px 6px;
        color: #666;
        background-color: transparent;
        transition: background-color 0.4s, color 0.4s;
        * {
            pointer-events: none;
        }
        &:hover {
            color: #000;
            background-color: rgba(108, 181, 255, 0.6);
            cursor: pointer;
        }
    }

    &__tabs {
        display: flex;
        background-color: #ccc;

        button {
            width: 120px;
            border: none;
            border-radius: 0;
            outline: none;
            height: 24px;
            line-height: 24px;
            padding: 0;
            transition: background-color 0.4s;

            &:hover {
                background-color: #999;
            }
            &.active {
                background-color: #fff;
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        transition: opacity 0.4s;
        
        &.active {
            opacity: 1;

            #{$parent}__item {
                display: flex;
            }
        }

        #{$parent}__item {
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 120px;
            padding: 8px 0;
            background-color: transparent;
            transition: background-color 0.4s;

            &:hover {
                background-color: rgba(108, 181, 255, 0.6);
                cursor: pointer;
            }
        }
    }
}