@import "normalize.scss";
@import "skeleton.scss";
@import "skeleton-extend.scss";
@import "icons.scss";


body {
    overflow: hidden;
}


$menubarHeight: 28;
main {
    display: grid;
    grid-template-rows: #{$menubarHeight}px calc(100vh - 180px - #{$menubarHeight}px) 180px;
    grid-template-columns: 0px 1fr 420px;
    grid-template-areas: 
        "menubar menubar menubar"
        "tools stage info"
        "tools timeline info";
    grid-auto-flow: column;
}


@import "item-menu.scss";
@import "context-menu.scss";
@import "modal.scss";
@import "loader.scss";
@import "menubar.scss";
@import "tools.scss";
@import "stage.scss";
@import "info.scss";
@import "timeline.scss";