@import "actions.scss";

.info {
    $parent: &;
    grid-area: info;
    background-color: #eee;
    grid-column: 3;
    padding: 0 8px 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
    width: 100%;

    // this will include the Remove button in the Actions
    button, .button {
        height: 24px;
        padding: 0 24px;
    }

    &__tabs {
        border-bottom: 1px solid #ccc;
        padding: 8px 0; 
        margin-bottom: 8px;
        position: sticky;
        z-index: 100;
        top: 0;
        background-color: #eee;
    }

    // general content
    &__content {
        position: absolute;
        left: 8px;
        right: 8px;
        opacity: 0;
        z-index: 0;
        transform: translateY(20px);
        transition: all 0.4s ease-out;

        &.show {
            opacity: 1;
            z-index: 1;
            transform: translateY(0);
        }

        #{$parent}__header {
            display: flex;
            margin-bottom: 8px;
            h5 {
                flex: 1;
                margin: 0;
                font-weight: 600;
            }
        }
    }

    // properties
    &__content[data-content=properties] {
        input {
            margin-bottom: 0;
            padding: 2px 8px;
            height: auto;
        }
    }

    // clip
    &__content[data-content=clip] {
        button.remove-clip {
            display: none;
        }
        button.add-clip {
            margin-left: 10px;
            display: block;
        }
        // the file
        .sources-vo {
            display: flex;
            button {
                margin-left: 10px;
            }
        }
    }

    // actions
    &__content[data-content=actions] {
        // each Action
        .action {
            margin-bottom: 4px;
            padding: 2px 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #eaeaea;

            &:first-of-type {
                margin-top: 8px;
            }
            &:last-child {
                margin-bottom: 128px;
            }

            // if there is a sequence error with this Action
            &.error {
                border: 1px solid #f33;
                background: #fcc;

                hr {
                    height: 1px;
                    background-color: #f33;
                    border: none;
                }
            }

            // our Actions header
            &__header {
                display: flex;
                span {
                    flex: 1;
                    &.title {
                        flex: 100%;
                        cursor: pointer;
                    }
                }
            }

            // our Actions content
            &__content {
                height: 0px;
                overflow: hidden;
                transition: height 0.2s ease;

                @include action-fields;
            } // end .content
        } // end .action
    } // end &__content
}