// drop down item menu
.item-menu {
    $parent: &; // make a variable
    position: relative;
    
    button {
        float: left;
        padding: 0;
        margin-left: 4px;
        transition: background-color 0.4s;
    }

    &:hover &__content {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
    &:hover button {
        background-color: #ccc;
    }

    &__content {
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        width: 160px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: 1000;
        background-color: #fff;
        top: 24px;
        transition: opacity 0.4s, transform 0.4s;

        hr {
            margin: 0 6px;
        }
    }

    &__item {
        color: #666;
        padding: 2px 6px;
        background-color: transparent;
        transition: background-color 0.4s, color 0.4s;

        &:hover {
            color: #000;
            background-color: rgba(108, 181, 255, 0.6);
            cursor: pointer;
        }
    }
}