.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    
    &__block {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
    }

    &__splash {
        height: 100%;
        background-color: rgba(32, 32, 32, 1);

        color: #eee;

        display: flex;
        align-items: center;
        justify-content: center;

        .spinner {
            width: 64px;
            height: 64px;
            border: 8px solid #FFF;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        
            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}