#menubar.pane {
    grid-area: menubar;
    z-index: 10;
    background-image: linear-gradient(#2f323e, 95%, #111);
    padding: 2px;

    button {
        line-height: 1;
        height: 24px;
        border: none;
        background: transparent;
        display: block;
    }

    span.space {
        border-left: 1px solid #666;
        height: 12px;
        margin: 0 8px;
    }

    .four.columns:nth-child(1) {
        > div {
            float: left;
        }

        .item-menu {
            $parent: &; // make a variable
            padding-left: 28px;

            &:nth-child(1) {
                padding-left: 18px;
            }
            button {
                color: #eee;
            }

            &__content {
                width: 200px;
            }

            &__item span.shortcut {
                float: right;
                font-size: 0.7em;
                padding-top: 5px;
            }

            // for the state index
            &__item input[type="text"] {
                height: auto;
                padding: 2px 8px;
                text-align: center;
            }
        } // end item-menu
    }

    .four.columns:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
            color: #eee;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 0.1rem;
            margin: 0;
            display: flex;

            // for the Stage checkbox
            input {
                margin-right: 8px;
            }
        }
        button {
            padding: 0;
            width: 26px;
            color: #eee;
            transition: background-color 0.4s;
            span {
                font-size: 18px;
            }
            &:hover {
                background-color: #4f5469;
            }
        }
    }

    .four.columns:nth-child(3) {
        padding-right: 18px;
        color: #eee;

        .project-info {
            text-align: right;
        }
    }
}