@import "actions.scss";

.modal {
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: none;
    opacity: 0;
    transition: opacity 0.4s ease;

    &.open {
        opacity: 1;
    }

    // content
    &__wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fefefe;
        width: 840px;
        max-height: 80%;
    }

    // title
    &__title {
        cursor: move;
        user-select: none;
        background-color: #2f323e;
        color: #eee;
        padding: 8px;
    }

    // content
    &__content {
        padding: 8px;
        overflow: auto;

        // when editing an Action
        hr:first-of-type {
            display: none;
        }

        // when displaying the lessons to load
        table {
            margin-bottom: 0;
        }
        th, td {
            padding: 6px 8px;
        }
        tr:hover {
            cursor: pointer;
            background-color: rgba(108, 181, 255, 0.6);

            &.delete {
                background-color: rgba(255, 0, 0, 0.6);
            }
            &.load {
                background-color: rgba(0, 255, 0, 0.6);
            }
        }

        // search input for opening a previous lecture
        input[name="search"] {
            padding: 6px 8px;
            margin-bottom: 8px;
            background-image: url(../static/round_search_black_24dp.png);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: contain;
        }

        button {
            height: 24px;
            line-height: 24px;
        }

        // put our action-fields here
        @include action-fields;
    }
}