@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../static/fonts/Raleway-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(../static/fonts/Raleway-Light.ttf) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  src: url(../static/fonts/Raleway-LightItalic.ttf) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(../static/fonts/Raleway-SemiBold.ttf) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: url(../static/fonts/Raleway-SemiBoldItalic.ttf) format('woff2');
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .column.condensed,
  .columns.condensed {
      margin-left: 0; }

  .one.column.condensed,
  .one.columns.condensed                    { width: 8.334%; }
  .two.columns.condensed                    { width: 16.667%; }
  .three.columns.condensed                  { width: 25%;            }
  .four.columns.condensed                   { width: 33.334%; }
  .five.columns.condensed                   { width: 41.667%; }
  .six.columns.condensed                    { width: 50%;            }
  .seven.columns.condensed                  { width: 58.334%; }
  .eight.columns.condensed                  { width: 66.667%; }
  .nine.columns.condensed                   { width: 75%;          }
  .ten.columns.condensed                    { width: 83.334%; }
  .eleven.columns.condensed                 { width: 91.667%; }
  .twelve.columns.condensed                 { width: 100%; margin-left: 0; }

  .one-third.column.condensed               { width: 33.334%; }
  .two-thirds.column.condensed              { width: 66.667%; }

  .one-half.column.condensed                { width: 50%; }

  /* Offsets */
  .offset-by-one.column.condensed,
  .offset-by-one.columns.condensed          { margin-left: 8.334%; }
  .offset-by-two.column.condensed,
  .offset-by-two.columns.condensed          { margin-left: 16.667%; }
  .offset-by-three.column.condensed,
  .offset-by-three.columns.condensed        { margin-left: 25%;            }
  .offset-by-four.column.condensed,
  .offset-by-four.columns.condensed         { margin-left: 33.334%; }
  .offset-by-five.column.condensed,
  .offset-by-five.columns.condensed         { margin-left: 41.667%; }
  .offset-by-six.column.condensed,
  .offset-by-six.columns.condensed          { margin-left: 50%;            }
  .offset-by-seven.column.condensed,
  .offset-by-seven.columns.condensed        { margin-left: 58.334%; }
  .offset-by-eight.column.condensed,
  .offset-by-eight.columns.condensed        { margin-left: 66.667%; }
  .offset-by-nine.column.condensed,
  .offset-by-nine.columns.condensed         { margin-left: 75%;          }
  .offset-by-ten.column.condensed,
  .offset-by-ten.columns.condensed          { margin-left: 83.334%; }
  .offset-by-eleven.column.condensed,
  .offset-by-eleven.columns.condensed       { margin-left: 91.667%; }

  .offset-by-one-third.column.condensed,
  .offset-by-one-third.columns.condensed    { margin-left: 33.334%; }
  .offset-by-two-thirds.column.condensed,
  .offset-by-two-thirds.columns.condensed   { margin-left: 66.667%; }

  .offset-by-one-half.column.condensed,
  .offset-by-one-half.columns.condensed     { margin-left: 50%; }
}


button, .button { 
  line-height: 1;
  margin-bottom: 0; 
  background-color: rgba(255, 255, 255, 0.4);
  &:hover {
    border-color: #bbb;
  }
  span.material-icons {
    font-size: 18px;
  }
}
input, textarea, select, fieldset { 
  margin-bottom: 0; 
  height: auto;
  padding: 2px 8px;
  &[type="range"] {
    padding: 2px 0px;
  }
}


// red
button.button-red, .button.button-red,
button.button-red:hover, .button.button-red:hover,
button.button-red:focus, .button.button-red:focus {
  color: #FFF;
  background-color: #db1e1e;
  border-color: #db1e1e; 
}

// green
button.button-green, .button.button-green,
button.button-green:hover, .button.button-green:hover,
button.button-green:focus, .button.button-green:focus {
  color: #FFF;
  background-color: #24db1e;
  border-color: #24db1e; 
}

.u-half-width {
  width: 49%;
  box-sizing: border-box; }