#stage.pane {
    grid-area: stage;
    position: relative;
    overflow: hidden;

    #iframe-blocker {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        z-index: 1;

        &.zoomer-move {
            cursor: grab;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        transform-origin: 0 0;
    }

    // so we have it rendering
    #timeline-local {
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        z-index: -10; // behind everything
        pointer-events: none;

        // TODO

        #contentWindow {
            height: 100%;
            position: relative;

            .droppable:not(.draggable):not(.no-hint) {
                background: rgba(255, 255, 0, 0.6);
                padding: 4px 0;
                display: inline-block;
                // when the user drags over
                &.over {
                    outline: 2px solid rgb(255, 128, 0);
                }
            }
            .droppable {
                display: inline-block;
                // if an element is inside a droppable element, we need to get rid of the absolute positioning
                .element {
                    position: relative !important;
                }
            }
            .draggable {
                background: rgba(255, 0, 0, 0.6);
                padding: 4px 12px;
                display: inline-block;
                // hide it from original location
                &.picked {
                    visibility: hidden;
                }
            }
        
            // a table
            table {
                border-collapse: collapse;
                td {
                    border: 1px solid #ccc;
                }
                .element {
                    // inset: auto !important;
                    // width: auto !important;
                    // height: auto !important;
                    // position: relative !important;
                }
            }
        
            // this are the elements added 
            .element {
                border-collapse: collapse;
                user-select: none;
                position: absolute;
                transform: matrix(1, 0, 0, 1, 0, 0) rotate(0deg);
                margin: 0;
                padding: 0;
        
                // if the element is being dragged
                &.dragging {
                    opacity: 0.1 !important;
                }
                
                // if an element ends up inside another
                .element {
                    // inset: auto !important;
                    // width: auto !important;
                    // height: auto !important;
                    // position: relative !important;
                }
                
                .text-bold { font-weight: bold; }
                .text-italic { font-style: italic; }
                .text-underline, .text-underline * { text-decoration: underline; }
                .text-red { color: red; }
                .text-green { color: green; }
                .text-blue { color: blue; }
        
                @keyframes example {
                    from { background-color: #fff; }
                    to { background-color: #f00; }
                }
                .text-example { animation-name: example; animation-duration: 1s; animation-fill-mode: forwards; }
        
                // words and letters
                .word {
                    position: relative;
                    display: inline-block;
                    .letter {
                        position: relative;
                        display: inline-block;
                    }
                }
        
                // when selected
                span.selected {
                    background-color: rgba(255, 0, 255, 0.6);
                }
        
                // input type
                input[type=text] {
                    font-size: inherit;
                    font-family: inherit;
                    background: transparent;
                    border: none;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    &.empty {
                        background: rgba(255, 255, 0, 0.6);
                        border-bottom: 1px solid black;
                    }
                }
        
                // a tool tip
                &.tip {
                    outline: \min(1vw, 1vh) solid hsla(200, 90%, 22%, 70%);
                    background-color: rgb(255, 254, 189);
                    min-width: 10%;
                    min-height: 10%;
                    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0,0,0,35%);
        
                    .context {
                        display: flex;
                        justify-content: space-between;
                        height: 100%;
        
                        .image {
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            min-width: 20%;
                            margin: 2%;
                        }
                        .text {
                            overflow-wrap: break-word;
                            margin: auto 2%;
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
}