#timeline.pane {
    grid-area: timeline;
    position: relative;
    overflow: hidden;

    #timeline-toolbar {
        padding: 2px;
        background-image: linear-gradient(#eee, 95%, #c1c1c1);

        button {
            height: 24px;
            margin: 0;
            display: block;
        }
        select {
            height: 24px;
            padding: 0;
            margin: 0;
        }

        // left side
        .five.columns:nth-child(1) {
            padding-left: 18px;

            .item-menu {
                button span.material-icons {
                    font-size: 24px;
                }
            }

            select[name=tracks] {
                min-width: 140px;
                margin-left: 18px;
                float: left;
            }

            .time-offset {
                height: 24px;
                margin-left: 18px;
                float: left;

                button {
                    display: inline-block;
                    padding: 0;
                    transition: background-color 0.4s;
                    span.material-icons {
                        font-size: 24px;
                    }
                    &:hover {
                        background-color: #ccc;
                    }
                }
                input[type=text] {
                    height: 24px;
                    margin: 0;
                    text-align: center;
                }
                input[type=range] {
                    height: 12px;
                    margin: 0;
                    padding: 0;
                    vertical-align: 7px;
                }
                span.output {
                    vertical-align: 7px;
                }
            }
        }

        // center
        .two.columns:nth-child(2) {
            text-align: center;

            button {
                border: none;
                margin: 0 auto;
                color: #fff;
            }
            button.play {
                background-color: #0c0;
            }
            button.pause {
                background-color: #c00;
            }
        }

        // right
        .five.columns:nth-child(3) {
            text-align: right;
            padding-right: 18px;
            display: flex;
            align-items: center;
            justify-content: end;

            div.zoom {
                display: flex;
                align-items: center;
                span.material-icons:first-child {
                    font-size: 14px;
                    margin: 0 6px;
                }
            }

            div.time {
                display: flex;
                align-items: center;
                margin-left: 24px;
                span.material-icons {
                    margin-left: 2px;
                }
            }
        }
    }

    #timeline-drawer-wrapper {
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: block;
            height: 12px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 6px;
            background-color: #ccc;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: #999;
        }

        svg {
            transform-origin: 0 0;
            background-color: #eee;
            display: block;

            g#timeline-wrapper {
                rect#selection {
                    fill: rgba(108, 181, 255, 0.6);
                    stroke: rgb(108, 181, 255);
                    display: none;
                }

                g#lines {
                    line {
                        stroke: rgba(0, 0, 0, 0.4);
                        stroke-width: 1;
                    }
                }

                text#times {
                    pointer-events: none;
                    user-select: none;
                    tspan {
                        font-size: 10px;
                        text-anchor: middle;
                    }
                }
            }

            g#track-wrapper {
                g.bookmark {
                    polyline {
                        fill: rgba(255, 128, 0, 0.7);
                        transition: fill 0.2s;
                    }
                    line {
                        stroke: rgba(255, 128, 0, 0.7);
                        stroke-width: 2;
                    }
                    text {
                        text-anchor: middle;
                        alignment-baseline: middle;
                        pointer-events: none;
                        user-select: none;
                        transform: scale(0);
                        transition: transform 0.2s;
                    }

                    &:hover {
                        polyline {
                            fill: rgba(255, 128, 0, 0.3);
                        }
                        text {
                            transform: scale(1);
                        }
                    }
                }

                // MyClip
                g.clip {
                    cursor: ew-resize;
                    polyline, text {
                        pointer-events: none;
                        user-select: none;
                    }
                    rect {
                        &.selected {
                            fill: rgba(255, 255, 255, 0.6);
                        }
                        &.error {
                            fill: rgba(255, 0, 0, 0.3);
                        }
                    }
                }

                // MyAction
                g.action {
                    opacity: 1;
                    transition: opacity 0.4s;

                    &.selected {
                        rect.bounds {
                            display: block;
                            fill: rgba(108, 181, 255, 0.6);
                            stroke: rgba(108, 181, 255, 1);
                        }
                    }
                    &.disabled {
                        opacity: 0.6;
                        transition: opacity 0.4s;
                    }
                    &.hide {
                        opacity: 0.1;
                        transition: opacity 0.4s;
                    }

                    text, rect.bounds {
                        pointer-events: none;
                        user-select: none;
                    }
                    circle.symbol, rect.symbol {
                        cursor: ew-resize;
                    }
                    // the duration line
                    line.duration {
                        pointer-events: none;
                        stroke-width: 16;
                    }
                    // this draws the relation line
                    path.relation {
                        pointer-events: none;
                        stroke-width: 2;
                        fill: none;
                    }
                    // selection rect
                    rect.bounds {
                        display: none;
                    }

                    &.error {
                        text {
                            fill: rgba(255, 0, 0, 1);
                        }
                        circle.symbol, rect.symbol {
                            fill: rgba(255, 0, 0, 1);
                        }
                        line.duration {
                            stroke: rgba(255, 0, 0, 0.3);
                        }
                        path.relation {
                            stroke: rgba(255, 0, 0, 0.3);
                        }
                    }
                }
            }

            // let the clicks go through
            g#seeker {
                pointer-events: none;
            }
        }
    }
}