<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us" title="Void">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title>

		<meta http-equiv="Content-Security-Policy" content="
			default-src 'self' 'unsafe-inline' 'unsafe-eval' content://* data: gap: http: https:;
			style-src 'self' 'unsafe-inline' content://*;
			media-src data: blob: *;
		" />

		<meta name="description" content="A grid for laying out Teaching Textbooks apps" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow" />
	</head>
  	<body>

		<div class="loader">
			<div class="loader__block"></div>
			<div class="loader__splash">
				<div class="spinner"></div>
			</div>
		</div>

		<main hidden>
			<!-- menubar -->
			<div id="menubar" class="pane">
				<!-- left -->
				<div class="four columns">
					<div class="item-menu file-menu">
						<button class="file">File</button>
						<div class="item-menu__content">
							<div class="item-menu__item new">New <span class="shortcut">(Ctrl+N)</span></div>
							<div class="item-menu__item open">Open <span class="shortcut">(Ctrl+O)</span></div>
							<div class="item-menu__item save">Save <span class="shortcut">(Ctrl+S)</span></div>
							<div class="item-menu__item save-as">Save As <span class="shortcut">(Ctrl+Shift+S)</span></div>
						</div>
					</div>
					
					<div class="item-menu edit-menu">
						<button class="edit">Edit</button>
						<div class="item-menu__content">
							<div class="item-menu__item undo">Undo <span class="shortcut">(Ctrl+Z)</span></div>
							<div class="item-menu__item redo">Redo <span class="shortcut">(Ctrl+Y)</span></div>
							<hr />
							<div class="item-menu__item copy">Copy <span class="shortcut">(Ctrl+C)</span></div>
							<div class="item-menu__item paste">Paste <span class="shortcut">(Ctrl+V)</span></div>
							<hr />
							<div class="item-menu__item group">Group <span class="shortcut">(Ctrl+G)</span></div>
							<div class="item-menu__item ungroup">Ungroup <span class="shortcut">(Ctrl+Shift+G)</span></div>
							<hr />
							<div class="item-menu__item index">Index <span class="u-pull-right"><input type="text" size="3" /> of <span class="length"></span></span></div>
						</div>
					</div>

					<div class="item-menu tags-menu">
						<button class="tags">Tags</button>
						<div class="item-menu__content"></div>
					</div>
				</div>

				<!-- middle -->
				<div class="four columns">
					<label>
						<input type="checkbox" name="stage-alignment" checked />
						Stage
					</label>

					<span class="space"></span>

					<button class="align-horizontal-left" title="Align Left">
						<span class="material-icons">align_horizontal_left</span>
					</button>
					<button class="align-horizontal-center" title="Align Center">
						<span class="material-icons">align_horizontal_center</span>
					</button>
					<button class="align-horizontal-right" title="Align Right">
						<span class="material-icons">align_horizontal_right</span>
					</button>
					
					<span class="space"></span>

					<button class="align-vertical-top" title="Align Top">
						<span class="material-icons">align_vertical_top</span>
					</button>
					<button class="align-vertical-center" title="Align Middle">
						<span class="material-icons">align_vertical_center</span>
					</button>
					<button class="align-vertical-bottom" title="Align Bottom">
						<span class="material-icons">align_vertical_bottom</span>
					</button>

					<span class="space"></span>

					<button class="align-horizontal-distribute" title="Horizontal Distribute">
						<span class="material-icons">horizontal_distribute</span>
					</button>
					<button class="align-vertical-distribute" title="Vertical Distribute">
						<span class="material-icons">vertical_distribute</span>
					</button>

					<span class="space"></span>

					<button class="more-horiz" title="Distribute Width">
						<span class="material-icons">more_horiz</span>
					</button>
					<button class="more-vert" title="Distribute Height">
						<span class="material-icons">more_vert</span>
					</button>
				</div>

				<!-- right -->
				<div class="four columns">
					<!-- will be populated -->
					<div class="project-info"></div>
				</div>
			</div>

			<!-- tools -->
			<div id="tools" class="pane">
				<!-- TODO -->
			</div>

			<!-- stage/viewer -->
			<div id="stage" class="pane">
				<!-- for dragging the panes -->
				<div id="iframe-blocker"></div>

				<!-- where the timeline will add elements -->
				<div id="timeline-local">
					<div id="contentSubtitles"></div>
					<div id="contentWindow"></div>
				</div>

				<!-- iFrame source to load -->
				<iframe></iframe>
			</div>

			<!-- info -->
			<div class="info">
				<!-- the tab buttons -->
				<div class="info__tabs row">
					<button class="four columns" data-tab="properties" title="Properties">
						<span class="material-icons">info</span>
					</button>
					<button class="four columns" data-tab="clip" title="Clip">
						<span class="material-icons">mic</span>
					</button>
					<button class="four columns" data-tab="actions" title="Actions">
						<span class="material-icons">list</span>
					</button>
				</div>

				<!-- properties contents -->
				<div class="info__content row" data-content="properties">
					<div class="info__header row">
						<h5>Properties</h5>
					</div>
					<div class="row">
						<div class="three columns">X</div>
						<div class="three columns x">
							<input type="number" name="x" autocomplete="off" tabindex="1" class="u-full-width" />
						</div>
						<div class="three columns">Width</div>
						<div class="three columns width">
							<input type="number" name="width" autocomplete="off" tabindex="3" class="u-full-width" readonly />
						</div>
					</div>
					<div class="row">
						<div class="three columns">Y</div>
						<div class="three columns y">
							<input type="number" name="y" autocomplete="off" tabindex="2" class="u-full-width" />
						</div>
						<div class="three columns">Height</div>
						<div class="three columns height">
							<input type="number" name="height" autocomplete="off" tabindex="4" class="u-full-width" readonly />
						</div>
					</div>
				</div>

				<!-- clip contents -->
				<div class="info__content row" data-content="clip">
					<div class="info__header row">
						<h5>Clip</h5>
						<button class="button-red remove-clip">
							<span class="material-icons">delete</span>
						</button>
						<button class="button-green add-clip">
							<span class="material-icons">add</span>
						</button>
					</div>
					<div class="row">
						<div class="three columns">
							File
						</div>
						<div class="nine columns sources-vo">
							<select name="source-vo" class="u-full-width">
								<option value="">Empty</option>
							</select>
							<button class="preview u-pull-right">
								<span class="material-icons">play_arrow</span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="three columns">
							Start Time
						</div>
						<div class="nine columns start-time"></div>
					</div>
					<div class="row">
						<div class="three columns">
							End Time
						</div>
						<div class="nine columns end-time"></div>
					</div>
					<div class="row">
						<div class="three columns">
							Duration
						</div>
						<div class="nine columns duration"></div>
					</div>
				</div>

				<div class="info__content row" data-content="actions">
					<div class="info__header row">
						<h5>Actions</h5>
						<button class="button-green u-pull-right add-action" data-action="add-action">
							<span class="material-icons">add</span>
						</button>
					</div>
					<div class="action-list"></div>
				</div>
			</div>

			<!-- timeline -->
			<div id="timeline" class="pane">
				<!-- toolbar -->
				<div id="timeline-toolbar" class="row">
					<div class="five columns">
						<!-- shows the track menu -->
						<div class="item-menu">
							<button class="expand">
								<span class="material-icons">expand_more</span>
							</button>
							<div class="item-menu__content">
								<div class="item-menu__item add-track">Add Track</div>
								<div class="item-menu__item edit-track">Edit Track</div>
								<div class="item-menu__item remove-track">Remove Track</div>
							</div>
						</div>
						<!-- list of tracks available -->
						<select name="tracks"></select>
						<!-- time offset -->
						<div class="time-offset">
							<button class="time-offset-backward">
								<span class="material-icons">arrow_left</span>
							</button>
							<input type="range" name="time-offset-range" step="0.1" />
							<button class="time-offset-forward">
								<span class="material-icons">arrow_right</span>
							</button>
							<span class="output"></span>
						</div>
					</div>
					<!-- center -->
					<div class="two columns">
						<button class="play">
							<span class="material-icons">play_arrow</span>
						</button>
					</div>
					<!-- right -->
					<div class="five columns">
						<div class="zoom">
							<span class="material-icons">landscape</span>
							<input type="range" name="zoom" step="0.1" value="1" />
							<span class="material-icons">landscape</span>
						</div>
						<div class="time">
							<span class="time-output"></span>
							<span class="material-icons">schedule</span>
						</div>
					</div>
				</div>

				<!-- timeline drawer/renderer -->
				<div id="timeline-drawer-wrapper" class="twelve columns condensed">
					<svg viewBox="0 0 1024 154" preserveAspectRatio="xMinYMid meet" xmlns="http://www.w3.org/2000/svg">

						<g id="timeline-wrapper" transform="translate(50, 0)">
							<text id="times" y="14"></text>
							<line x1="0" y1="20" x2="999999" y2="20" stroke="rgba(0, 0, 0, 0.6)" stroke-width="1"></line>
							<g id="lines"></g>
							<g id="dots"></g>
							<rect id="selection" />
							<g id="track-wrapper"></g>
						</g>

						<g id="empty" transform="translate(0, 0)">
							<rect fill="#eee" x="-1" y="-1" width="50" height="2000" stroke="#666" stroke-width="1" />
						</g>

						<g id="seeker" transform="translate(50, 20)">
							<polyline points="-8,-18 8,-18 8,0 0,8 -8,0" fill="rgba(255, 255, 0, 0.7)"></polyline>
							<line x1="0" y1="6" x2="0" y2="2000" stroke="rgba(255, 255, 0, 0.7)" stroke-width="2"></line>
							<g class="seeker-time" transform="translate(0, 0)" style="display:none">
								<rect x="-30" width="60" height="25" rx="8" fill="rgba(255, 255, 255, 0.85)"></rect>
								<text y="18" text-anchor="middle">0:10.0</text>
							</g>
						</g>

					</svg>
				</div>
			</div>
		</main>

  	</body>
</html>